.fav {
  display: flex;
  flex-direction: column;
  width: 296px;
  align-items: flex-start;
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  margin-top: 30px;
}

.fav h2 {
  margin: 0;
}

.btnWrapper {
  padding: 20px 0;
  display: flex;
}

.btn:not(:active) {
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
}

.btnWhite {
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 89px;
  height: 28px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.btnGreen {
  border: 1px solid #41522e;
  color: #41522e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 89px;
  height: 28px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.select {
  display: flex;
  flex-direction: column;
}

.green path {
  fill: #41522e;
}

.white path {
  fill: #e5e5e5;
}

.btn::-moz-focus-inner {
  border: 0;
}
